# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Ambientes virtuais
.venv/
env/
venv/
ENV/

# Arquivos de configuracao sensiveis
.env
*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker / Volumes locais
*.log
